<h1>You fell in love with: <%= thingVar %></h1>


<% if(thingVar.toLowerCase() === "luna") { %>
    <p>GOOD CHOICE!!</p>
  <%  } else { %>
    <p>DECENT CHOICE, GRASSHOPPER</p>
    <% } %>
<p>From the love.ejs file</p>